@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.box {
  color: #333333;
  width: 100%;
  height: 100vh;
  background-color: #FFD700;
}

.box .content1-box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .content1-box .content1 {
  height: 55vh;
  width: 100%;
  background-color: white;
  text-align: center;
}

.box .content1-box .content1 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333333;
  font-family: 'Courier New',sans-serif;
}

.box .content1-box .content1 .niko-chan {
  width: 7%;
}

.box .content1-box .content1 .menu {
  list-style: none;
}

.box .content1-box .content1 .menu .sub-title {
  display: inline-block;
  margin-top: 55px;
  font-family: 'Courier New',sans-serif;
}

.box .content1-box .content1 .menu .sub-title .link {
  text-decoration: none;
  border-left: solid 1px lightgray;
  color: #333333;
  padding: 0 15px 0 18px;
}

.box .content1-box .content1 .menu .sub-title:last-child {
  border-right: solid 1px lightgray;
}

.box .big-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .big-content .left-content {
  text-align: center;
}

.box .big-content .left-content .profile {
  font-weight: bold;
  font-family: 'Courier New',sans-serif;
  margin-left: 15px;
}

.box .big-content .left-content .photo {
  width: 80%;
  border-radius: 30%;
  margin-top: 40px;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

.box .big-content .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .big-content .right-box .right-content {
  background-color: white;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  width: 80%;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 4px 4px 4px #333333;
          box-shadow: 4px 4px 4px #333333;
  color: #333333;
}

.box .big-content .right-box .right-content .introduction {
  display: inline-block;
  font-weight: bold;
  border-bottom: 2px dashed #eb6101;
  margin-right: 20px;
}

.box .big-content .right-box .right-content .answer {
  display: inline-block;
}

.box .big-content .right-box .right-content:before {
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: white;
  border-radius: 50%;
}

.box .big-content .right-box .right-content:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
}

.box .title-box {
  width: 100%;
  background-color: white;
  margin: 10px 0;
  -webkit-box-shadow: 0px 0px 0px 10px white;
          box-shadow: 0px 0px 0px 10px white;
  border: dashed 2px lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .title-box .collection {
  font-size: 45px;
  margin: 10px;
  padding: 10px;
  color: #333333;
  background-color: white;
  font-weight: bold;
  font-family: 'Courier New',sans-serif;
}

.box .title-box .fab {
  font-size: 300%;
  padding: 15px;
}

.box .collection-wrap .collection-box .image-box {
  position: relative;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box .collection-wrap .collection-box .image-box .text {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 15px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  color: #333333;
  line-height: 0.1rem;
}

.box .collection-wrap .collection-box .image-box .collection-img {
  border-radius: 15px;
  border: 10px solid #fff;
  border-bottom: 90px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.box .gallerywrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.box .gallerywrap .gallery {
  font-family: 'Courier New',sans-serif;
  font-weight: bold;
  color: #333333;
  font-size: 50px;
  height: 20vh;
  line-height: 270px;
}

.box .gallerywrap .gallerybox {
  height: 90vh;
  width: 100%;
  background-color: white;
}

.box .gallerywrap .gallerybox .image-text {
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

:root {
  --numOfListA: 9;
  --imgW: 250px;
  --imgH: var(--imgW);
  --mBetweenImg: 50px;
}

@media screen and (min-width: 350px) {
  :root {
    --imgW: 250px;
  }
}

.slider-container {
  font-size: 0;
  white-space: nowrap;
  -webkit-animation: slideshow 30s linear infinite;
          animation: slideshow 30s linear infinite;
}

.slider-img {
  width: var(--imgW);
  height: var(--imgH);
}

.slider-img + .slider-img {
  margin-left: var(--mBetweenImg);
}

@-webkit-keyframes slideshow {
  100% {
    -webkit-transform: translateX(calc((var(--numOfListA) * var(--imgW) + var(--mBetweenImg) * var(--numOfListA)) * -1));
            transform: translateX(calc((var(--numOfListA) * var(--imgW) + var(--mBetweenImg) * var(--numOfListA)) * -1));
  }
}

@keyframes slideshow {
  100% {
    -webkit-transform: translateX(calc((var(--numOfListA) * var(--imgW) + var(--mBetweenImg) * var(--numOfListA)) * -1));
            transform: translateX(calc((var(--numOfListA) * var(--imgW) + var(--mBetweenImg) * var(--numOfListA)) * -1));
  }
}

.container {
  margin-top: 15px;
  margin-bottom: 5px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 375px) {
  .sub-title {
    font-size: 0.7rem;
  }
  .title {
    font-size: 1.8rem;
    padding: 30px;
  }
  .profile {
    font-size: 1.8rem;
    margin: 0;
  }
  .photo {
    margin-top: 10px;
  }
  .left-content {
    width: 100%;
  }
  .right-content {
    margin: 5px 0;
    padding: 8px;
  }
  .introduction {
    font-size: 0.3rem;
  }
  .answer {
    font-size: 0.3rem;
  }
  .right-content:before {
    display: none;
  }
  .right-content:after {
    display: none;
  }
  .right-box {
    width: 100%;
  }
  .big-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    margin-top: 0;
  }
  .collection {
    font-size: 2rem;
  }
  .collection-img {
    height: 200px;
    width: 250px;
  }
  .collection-box {
    font-size: 0.4rem;
    margin-top: 10px;
  }
  .collection-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-text {
    font-size: 0.7rem;
    padding: 10px;
  }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  .sub-title {
    font-size: 0.9rem;
  }
  .title {
    font-size: 2.5rem;
    padding: 50px;
  }
  .profile {
    font-size: 2.5rem;
  }
  .photo {
    font-size: 2.5rem;
  }
  .introduction {
    font-size: 0.4rem;
  }
  .answer {
    font-size: 0.4rem;
  }
  .right-content:before {
    display: none;
  }
  .right-content {
    margin: 15px 0;
    padding: 15px;
  }
  .right-content:after {
    display: none;
  }
  .right-box {
    width: 100%;
  }
  .big-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    margin-top: 0;
  }
  .collection {
    font-size: 3rem;
  }
  .collection-box {
    font-size: 0.7rem;
    margin-top: 50px;
  }
  .collection-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .image-text {
    font-size: 1rem;
    padding: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .sub-title {
    font-size: 1.2rem;
  }
  .title {
    font-size: 3rem;
    padding-top: 100px;
  }
  .profile {
    font-size: 3rem;
  }
  .photo {
    font-size: 3rem;
  }
  .left-content {
    width: 55%;
    text-align: center;
  }
  .introduction {
    font-size: 1rem;
  }
  .answer {
    font-size: 0.9rem;
  }
  .right-content {
    margin: 15px 0;
    padding: 15px;
  }
  .right-content:before {
    display: block;
  }
  .right-content:after {
    display: block;
  }
  .right-box {
    width: 45%;
  }
  .big-content {
    font-size: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .collection {
    font-size: 3.5rem;
  }
  .image-box {
    margin: 6%;
  }
  .collection-img {
    height: 280px;
    width: 300px;
  }
  .collection-box {
    font-size: 1rem;
    width: 33%;
  }
  .collection-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .image-text {
    font-size: 1.2rem;
    padding: 50px;
  }
}
/*# sourceMappingURL=main.css.map */