@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.box {
  color: #333333;
  width: 100%;
  height: 100vh;
  background-color: #FFD700;
}

.box .content1-box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .content1-box .content1 {
  height: 55vh;
  width: 100%;
  background-color: white;
  text-align: center;
}

.box .content1-box .content1 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  color: #333333;
  font-family: 'Courier New',sans-serif;
  padding-top: 30px;
}

.box .content1-box .content1 .niko-chan {
  height: 60px;
  width: 90px;
}

.box .content1-box .content1 .menu {
  list-style: none;
}

.box .content1-box .content1 .menu .sub-title {
  font-size: 20px;
  display: inline-block;
  margin-top: 55px;
  font-family: 'Courier New',sans-serif;
}

.box .content1-box .content1 .menu .sub-title .link {
  text-decoration: none;
  border-left: solid 1px lightgray;
  color: #333333;
  padding: 0 15px 0 18px;
}

.box .content1-box .content1 .menu .sub-title:last-child {
  border-right: solid 1px lightgray;
}

.box .big-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.box .big-content .left-content {
  height: 100vh;
  width: 55%;
  text-align: center;
}

.box .big-content .left-content .profile {
  font-size: 45px;
  font-weight: bold;
  font-family: 'Courier New',sans-serif;
  margin-left: 15px;
}

.box .big-content .left-content .photo {
  width: 570px;
  height: 430px;
  border-radius: 15px;
  margin-top: 40px;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

.box .big-content .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.box .big-content .right-box .right-content {
  background-color: white;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  width: 80%;
  border-radius: 20px;
  margin: 15px 0;
  position: relative;
  -webkit-box-shadow: 4px 4px 4px #333333;
          box-shadow: 4px 4px 4px #333333;
  padding: 15px;
  color: #333333;
}

.box .big-content .right-box .right-content .introduction {
  display: inline-block;
  font-weight: bold;
  border-bottom: 2px dashed #eb6101;
  margin-right: 20px;
}

.box .big-content .right-box .right-content .answer {
  display: inline-block;
}

.box .big-content .right-box .right-content:before {
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: white;
  border-radius: 50%;
}

.box .big-content .right-box .right-content:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
}

.box .title-box {
  width: 100%;
  background-color: white;
  margin: 10px 0;
  -webkit-box-shadow: 0px 0px 0px 10px white;
          box-shadow: 0px 0px 0px 10px white;
  border: dashed 2px lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .title-box .collection {
  font-size: 45px;
  margin: 10px;
  padding: 10px;
  color: #333333;
  background-color: white;
  font-weight: bold;
  font-family: 'Courier New',sans-serif;
}

.box .title-box .fab {
  font-size: 45px;
  padding: 15px;
}

.box .collection-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box .collection-wrap .collection-box {
  width: 100%;
  margin-top: 30px;
}

.box .collection-wrap .collection-box .image-box {
  position: relative;
  margin: 6%;
  text-align: center;
}

.box .collection-wrap .collection-box .image-box .text {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 15px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  color: #333333;
}

.box .collection-wrap .collection-box .image-box .collection-img {
  height: 300px;
  width: 350px;
  border-radius: 15px;
  border: 10px solid #fff;
  border-bottom: 90px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.box .gallerywrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.box .gallerywrap .gallery {
  font-family: 'Courier New',sans-serif;
  font-weight: bold;
  color: #333333;
  font-size: 50px;
  margin: 10px;
  height: 20vh;
  line-height: 150px;
}

.box .gallerywrap .gallerybox {
  height: 90vh;
  width: 100%;
  background-color: white;
}

.box .gallerywrap .gallerybox .image-text {
  padding: 10px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

.footer {
  height: 60px;
  width: 100%;
  background-color: #ffd701;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 60px;
}

.footer .niko-chan {
  width: 50px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

.footer .footer-name {
  margin: 0;
}

:root {
  --numOfListA: 9;
  --imgW: 350px;
  --imgH: var(--imgW);
  --mBetweenImg: 50px;
}

@media screen and (min-width: 900px) {
  :root {
    --imgW: 350px;
  }
}

.slider-container {
  font-size: 0;
  white-space: nowrap;
  -webkit-animation: slideshow 30s linear infinite;
          animation: slideshow 30s linear infinite;
}

.slider-img {
  width: var(--imgW);
  height: var(--imgH);
}

.slider-img + .slider-img {
  margin-left: var(--mBetweenImg);
}

@-webkit-keyframes slideshow {
  100% {
    -webkit-transform: translateX(calc((var(--numOfListA) * var(--imgW) + var(--mBetweenImg) * var(--numOfListA)) * -1));
            transform: translateX(calc((var(--numOfListA) * var(--imgW) + var(--mBetweenImg) * var(--numOfListA)) * -1));
  }
}

@keyframes slideshow {
  100% {
    -webkit-transform: translateX(calc((var(--numOfListA) * var(--imgW) + var(--mBetweenImg) * var(--numOfListA)) * -1));
            transform: translateX(calc((var(--numOfListA) * var(--imgW) + var(--mBetweenImg) * var(--numOfListA)) * -1));
  }
}

.container {
  margin-top: 100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */